#btn{
  text-align: center;
  margin-left: 28%;
  margin-top: 25px;
  margin-bottom: 10px;
  font-size: X-large;
  font-weight: bolder;
  width: 150px;
  height: 50px;
  align-items: center;
}

img{
  
  max-width: fit-content;
  
}
#main{
  
  max-width: fit-content;
  align-self: center;
  margin-left: 40%;
  
}
